//extend
%button {
    //button이 하고 싶은걸 다 적어라!~
    font-family: inherit;
    border-radius: 7px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: peru;
    color:white;
    font-weight:500;
}