.grid {
    display: grid;
    background: purple;
    color : white;
    gap : 5px;
    height : 250vh; 
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);    
    /* justify-content: center; */
    /* align-content: start; */
    place-content: start center;
    /* 
        content : move whole of grid.
        items : move in each cell
    */
}
.header {
    background-color: #2ecc71;
    align-self: center;
    justify-self: start;
    /* 
        or you can use
        place-self : <align-self> <justify-self>
    */
}
.content {
    background-color: #3498db;
}  
.nav {
    background-color: #8e44ad;
}
.footer {
    background-color: #f39c12;
}