/* 
align-self is simliar to align-items
align-items : cross axis 방향에 있는 items들의 위치를 바꾸는 반면,
align-self 1명의 child에게만 적용

order properties
- it is kind of weird but it is useful when you cannot change html.


flex-box
-> 기본적으로 flexbox는 items가 모두 같은 줄에 있도록 유지한다. -> 너비가 200-> 150과 같이 더 줄어든다 해도 모두 한줄!! 

flex-shrink: 2;
 -> 기본은 1으로 2배만큼 2로 설정할 경우 줄어든다.
flex-grow 
-> default : 0
-> flex-grow : 1 -> taking remaining space, take as much as space 
*/
.father1 {
    display: flex; 
    flex-direction: row;
    /*Main axis*/
    justify-content: space-around;
    height: 100vh; /*height를 정해주는게 중요함!*/
    flex-wrap: wrap; /*nowarp : everything is a line, wrap is respect the width you set before*/
}
.father {
    display: flex; 
    /* flex-direction: row-reverse; */
    justify-content: space-around;
    align-content: space-around; /*justify-content와 비슷하지만 라인들을 변경하기 위한 속성 in cross axis*/
    height: 200vh;
    flex-wrap: wrap;
}
.father2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content:center;
    flex-wrap: nowrap;
}
.father3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content:flex-start;
    flex-wrap: nowrap;
}
.child { 
    width: 200px;
    height: 200px;
    background: peru;
    color: white;
    font-size: 50px;
    /*child can be a flex container. this time is for font*/
    display: flex;
    justify-content: center;
    align-items: center;
}
/**
cross axis에서 선택한 2번째 child만 center에 가있음.
*/
.child:nth-child(2) {
    /* flex-shrink: 2; */
    flex-grow: 2;
    background-color: black;
    /* align-self: center; */
    /*
        default box order is 0 
        order 1 > 0 -> so will be end of the lastest
    */
    /* order : 1; */
}
.child:nth-child(1) {
    /* order : 3; */
}
.child:nth-child(3) {
    flex-grow: 1;
    /* align-self: flex-end; */
}