.grid {
    display: grid;
    color : white;
    gap : 5px;
    grid-template-rows: repeat(4, 100px);
    grid-auto-rows: 100px;
    margin-bottom: 30px;
        
}
/* 
    auto-fill and auto-fit is so important when you create responsive website!!
    they are strong when you don't know number of elements

    auto-fill: 화면에서 남는 자리를 빈 칸으로 채움. (크기 고정, 칸 수 늘어남)
        -> fill rows with empty columns
    auto-fit: 화면에서 남는 자리를 element들로 채움. (크기 화면에 맞게 늘어남)
        -> fit the current element you stretch them to fit on the row
    you can use auto-fill, auto-fit only with repeat method.
*/
.grid:nth-child(1) {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.grid:nth-child(2) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.item:nth-child(odd) {
    background-color: #2ecc71;
}
.item:nth-child(even) {
    background-color: #3498db;
}